.crawler-container {
    padding-top: 20px;
}

.card-title, .attribute-row {
    margin-bottom: 0px;
}

.value-text {
    font-family: monospace, Consolas;
    display: inline;
}

.value-input {
    display: inline;
}

.source-property {
    margin-bottom: 0px;
}